{% extends 'app/base.html' %}
{% load static %}

{% block title %}
- Réinitialiser mot de passe OK {{ block.super }}
{% endblock %}
{% block content %}

<section class="page-section bg-top-section text-white"
    style="background-image: url('{% static 'img/background.jpg' %}'); background-size: 100%">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-lg-auto">
                <h2 class="section_title text-center">Réinitialisation du mot de passe terminée.
                </h2>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-biscuit text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-lg-8 text text-center">
                <h2 class="text-white mt-0">Votre mot de passe a été défini. Vous pouvez vous connecter maintenant.</h2>
                <a name="login" href="{% url "user:login" %}" class="btn btn-primary">Vous connecter</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}