{% extends 'app/base.html' %}
{% load static %}

{% block title %}
-  Aide avec le mot de passe {{ block.super }}
{% endblock %}
{% block content %}

<section class="page-section bg-top-section text-white" style="background-image: url('{% static 'img/background.jpg' %}'); background-size: 100%">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" title col-lg-auto">
                <h2 class="section_title text-center">Confirmation du nouveau mot de passe.
                </h2>
            </div>
        </div>
    </div>
  </section>

<section class="page-section bg-biscuit text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-lg-8 text text-center">
                <p>Veuillez entrer votre nouveau mot de passe.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" name="change_password" class="btn btn-primary bg-chocolate btn-block">Réinitialisation mot de passe</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}